.DS_Store
/img/TESLA_3/.DS_Store
/img/TESLA_S/.DS_Store
/img/NISSAN_LEAF/.DS_Store
/img/.DS_Store
/logs
/dags/__pycache__
/airflow/dags/__pycache__
.env
__pycache__
/.streamlit
global-bundle.pem
/plugins
/airflow/dags/global-bundle.pem
.pytest_cache
coverage.xml
.coverage