streamlit==1.45.1
streamlit-option-menu==0.4.0
pandas==2.2.3
numpy==1.26.4
requests==2.32.3
Pillow==11.1.0
fastapi
uvicorn
torch
pillow
pydantic
transformers
scikit-learn
xgboost
python-dotenv
mlflow
psycopg2-binary