a2wsgi==1.10.8
absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiologic==0.14.0
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.15.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
apache-airflow==2.3.0
apache-airflow-core==3.0.1
apache-airflow-providers-common-compat==1.6.1
apache-airflow-providers-common-io==1.5.4
apache-airflow-providers-common-sql==1.4.0
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.3.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-smtp==2.0.3
apache-airflow-providers-sqlite==3.3.2
apache-airflow-providers-standard==1.1.0
apache-airflow-task-sdk==1.0.1
apispec==3.3.2
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
argcomplete==3.5.3
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
async-timeout==5.0.1
attr==0.3.1
attrs==20.3.0
azure-core==1.32.0
azure-storage-blob==12.24.1
babel==2.17.0
backports.strenum==1.3.1
black==25.1.0
bleach==5.0.1
blinker==1.9.0
boto==2.49.0
boto3==1.36.17
botocore==1.36.17
cachelib==0.13.0
cachetools==5.5.1
cadwyn==5.3.3
catboost==1.2.8
cattrs==1.10.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==7.1.2
clickclick==20.10.2
cloudpickle==3.1.1
colorama==0.4.6
colorlog==4.8.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
connexion==2.14.2
contourpy==1.3.1
cron-descriptor==1.4.5
croniter==6.0.0
cryptography==44.0.0
cycler==0.12.1
databricks-sdk==0.47.0
datamodel-code-generator==0.26.1
debugpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6a37he2v_t/croot/debugpy_1736267437603/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
distlib==0.3.7
distro==1.9.0
Django==4.2.19
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dnspython==2.7.0
docker==7.1.0
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
email_validator==2.2.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
expiringdict==1.2.2
Faker==36.1.0
fastapi==0.115.11
fastapi-cli==0.0.7
fastjsonschema==2.21.1
filelock==3.18.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.6.0
fsspec==2025.3.2
future==1.0.0
gast==0.6.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0rc1
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.2.2
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.31.2
humansignal-drf-yasg==1.21.10.post1
hyperopt==0.2.7
idna==3.10
ijson==3.3.0
importlib_metadata==8.5.0
inflect==5.6.2
inflection==0.5.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1741457802/work
isodate==0.7.2
isort==5.13.2
itsdangerous==1.1.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==2.11.3
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsf==0.11.2
jsonschema==4.17.3
jsonschema-specifications==2024.10.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
keras==3.9.2
kiwisolver==1.4.8
label-studio==1.15.0
label-studio-sdk==1.0.8
launchdarkly-server-sdk==8.2.1
lazy-object-proxy==1.11.0
libclang==18.1.1
libcst==1.7.0
lightgbm==4.6.0
linkify-it-py==2.0.3
lockfile==0.12.2
lxml==5.3.1
lxml_html_clean==0.4.1
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.26.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.2.0
marshmallow-sqlalchemy==0.26.1
matplotlib==3.10.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
methodtools==0.4.7
ml_dtypes==0.5.1
mlflow==2.21.0
mlflow-skinny==2.21.0
more-itertools==10.7.0
mpmath==1.3.0
msgspec==0.19.0
multidict==6.4.3
mypy-extensions==1.0.0
namex==0.0.9
narwhals==1.35.0
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openai==1.61.1
opentelemetry-api==1.33.0
opentelemetry-exporter-otlp==1.33.0
opentelemetry-exporter-otlp-proto-common==1.33.0
opentelemetry-exporter-otlp-proto-grpc==1.33.0
opentelemetry-exporter-otlp-proto-http==1.33.0
opentelemetry-proto==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-semantic-conventions==0.54b0
opt_einsum==3.4.0
optree==0.15.0
optuna==4.3.0
optuna-integration==4.3.0
ordered-set==4.0.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pathspec==0.9.0
pendulum==3.1.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.1.0
pipenv==2023.9.8
platformdirs==3.10.0
plotly==6.0.1
pluggy==1.6.0
prison==0.2.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache==0.3.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py4j==0.10.9.9
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyboxen==1.3.0
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PyJWT==1.7.1
pyparsing==3.2.1
pyRFC3339==2.0.1
pyrsistent==0.20.0
python-daemon==3.1.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.1.0
python-json-logger==2.0.4
python-multipart==0.0.20
python-nvd3==0.16.0
python-slugify==8.0.4
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0.2
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_95lsut8ymz/croot/pyzmq_1734709560733/work
redis==3.5.3
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-mock==1.12.1
requests-toolbelt==1.0.0
retryhttp==1.3.3
rich==13.9.4
rich-argparse==1.7.0
rich-toolkit==0.14.6
rpds-py==0.22.3
rq==1.10.1
rsa==4.9
rstr==3.2.2
rules==3.4
s3transfer==0.11.2
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
semver==3.0.4
sentry-sdk==2.20.0
setproctitle==1.3.6
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==1.4.9
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
st-theme==1.2.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.46.1
streamlit==1.45.1
streamlit-navigation-bar==3.3.0
streamlit-option-menu==0.4.0
structlog==25.3.0
svcs==25.1.0
swagger-ui-bundle==0.0.9
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.0.1
text-unidecode==1.3
tf_keras==2.19.0
threadpoolctl==3.6.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0axef5a0m0/croot/tornado_1733960501260/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.51.3
typer==0.15.4
types-requests==2.32.0.20250515
typing-inspection==0.4.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata==2025.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uc-micro-py==1.0.3
ujson==5.10.0
unicodecsv==0.14.1
universal_pathlib==0.2.6
uritemplate==4.1.1
urllib3==2.4.0
user-agents==2.2.0
uuid6==2024.7.10
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.24.5
watchfiles==1.0.5
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings==0.5.1
websockets==15.0.1
Werkzeug==1.0.1
wirerope==1.0.0
wrapt==1.17.2
WTForms==2.3.3
xgboost==3.0.0
xmljson==0.2.1
yarl==1.20.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
